body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.results-table-section th {
  background-color: #f2f2f2;
}
.zoom-controls {
  display: none; /* Hidden by default */
  position: absolute; top: 10px; right: 10px;
}
.zoom-controls button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}
.zoom-controls button:hover {
  background-color: #0056b3;
}
.results-table-section tbody tr:hover {
  background-color: #f5f5f5; /* Light grey on hover */
  cursor: pointer;
}
.results-table-section tbody tr.selected {
  background-color: #e0f2f7; /* Light blue for selected row */
}
